.main__guia__section1 {
  background-image: url(../Img/Fondo\ 6.jpg);
  .subtitulo_index {

    color: rgb(158, 29, 18);
    border-style: double;
    padding: 10px;
    margin: 20px;
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas: "Comienza tu historia";
    text-align: center;
    -webkit-animation: tracking-in-expand-fwd 0.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    animation: tracking-in-expand-fwd 0.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    animation-iteration-count: infinite;
    animation-delay: 2s;

  }

  h1 {
    color: rgb(158, 29, 18);
    border-style: double;
    padding: 10px;
    margin: 30px;
    text-align: center;
    -webkit-animation: tracking-in-expand-fwd 0.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    animation: tracking-in-expand-fwd 0.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    animation-iteration-count: infinite;
    animation-delay: 2s;
  }

  

  .columnasguia__grid {
    text-align: center;
    color: rgb(44, 197, 231);
    border-style: groove;
    padding: 10px;
    margin: 30px;
  }

  .parrafo {
    text-align: center;
    color: rgb(255, 128, 0);
    font-weight: 300;
    margin: 30px;
    grid-area: comienza tu historia;
  }

  .main__inicio__section1__carrusel {
   padding-bottom: 100px;
  }
}

.main__inicio__section1__grid {
  display:grid;
  @include templateGrid (4);
  gap: 5px;
  padding-bottom: 50px;

  img {
    width: 400px;
  }
}


@keyframes tracking-in-expand-fwd {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px);
    transform: translateZ(-700px);
    opacity: 0;
  }

  40% {
    opacity: 0.6;
  }

  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}