* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: $fontkanit;

    &::selection {
        background-color: black;
        color: $mainColor;
      }
}



// extend

.flexProperties {
    display:flex;
    flex-direction: column;
}

// mixin

@mixin templateGrid ($columns) {
    grid-template-columns: repeat($columns, 1fr);
}