@import url(https://fonts.googleapis.com/css2?family=Lobster&display=swap);
.main__inicio__section1 {
  background-image: url(../Img/Fondo\ 6.jpg);
}
.main__inicio__section1 .parrafo-contenido {
  padding: 7px;
}
.main__inicio__section1 h1 {
  color: rgb(158, 29, 18);
  border-style: double;
  padding: 10px;
  margin: 20px;
  grid-template-columns: repeat(1, 1fr);
  grid-template-areas: "Comienza tu historia";
  text-align: center;
  -webkit-animation: tracking-in-expand-fwd 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  animation: tracking-in-expand-fwd 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}
.main__inicio__section1 .parrafo {
  text-align: center;
  color: rgb(255, 128, 0);
  font-weight: 300;
  margin: 30px;
  grid-area: comienza tu historia;
}
.main__inicio__section1 .main__inicio__section1__card {
  padding-bottom: 100px;
}

@-webkit-keyframes tracking-in-expand-fwd {
  0% {
    letter-spacing: -0.5em;
    transform: translateZ(-700px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    transform: translateZ(0);
    opacity: 1;
  }
}

@keyframes tracking-in-expand-fwd {
  0% {
    letter-spacing: -0.5em;
    transform: translateZ(-700px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    transform: translateZ(0);
    opacity: 1;
  }
}
header {
  width: 100%;
  overflow: hidden;
  background: #ffffff;
  margin-bottom: 20px;
}
header .navbar {
  display: flex;
  justify-content: center;
}
header .logo {
  cursor: pointer;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: brown;
  font-size: 50px;
  -webkit-animation: text-shadow-pop-left 0.6s both;
  animation: text-shadow-pop-left 0.6s both;
}

.bi-facebook {
  background-color: rgb(55, 82, 234);
}

.bi-instagram {
  background-color: rgb(178, 42, 211);
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "kanit", sans-serif;
}
*::-moz-selection {
  background-color: black;
  color: #00ffff;
}
*::selection {
  background-color: black;
  color: #00ffff;
}

.flexProperties, .main__inicio__section1 .parrafo-contenido {
  display: flex;
  flex-direction: column;
}

.main__foro__section1 {
  background-image: url(../Img/Fondo\ 6.jpg);
}
.main__foro__section1 h1 {
  color: rgb(158, 29, 18);
  border-style: double;
  padding: 10px;
  margin: 20px;
  grid-template-columns: repeat(1, 1fr);
  grid-template-areas: "Comienza tu historia";
  text-align: center;
  -webkit-animation: tracking-in-expand-fwd 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  animation: tracking-in-expand-fwd 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}
.main__foro__section1 .preguntasforo {
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-weight: 600;
  margin: 30px;
}

@keyframes tracking-in-expand-fwd {
  0% {
    letter-spacing: -0.5em;
    transform: translateZ(-700px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    transform: translateZ(0);
    opacity: 1;
  }
}
.preguntasforo {
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-weight: 600;
  margin: 30px;
}

.main__contactanos__section1 {
  background-image: url(../Img/Fondo\ 6.jpg);
}
.main__contactanos__section1__card {
  width: 1800px;
  margin-top: 50px;
  padding-bottom: 50px;
}
.main__contactanos__section1 h2 {
  padding-top: 50px;
  color: rgb(158, 29, 18);
  border-style: double;
  padding: 20px;
  margin: 20px;
  grid-template-columns: repeat(1, 1fr);
  grid-template-areas: "No Dudes en Contactarnos";
  text-align: center;
  -webkit-animation: tracking-in-expand-fwd 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  animation: tracking-in-expand-fwd 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}
.main__contactanos__section1 .preguntasforo {
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-weight: 600;
  margin: 30px;
}

@keyframes tracking-in-expand-fwd {
  0% {
    letter-spacing: -0.5em;
    transform: translateZ(-700px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    transform: translateZ(0);
    opacity: 1;
  }
}
.main__conocenos__section1 {
  background-image: url(../Img/Fondo\ 6.jpg);
}
.main__conocenos__section1 h1 {
  padding-top: 50px;
  color: rgb(158, 29, 18);
  border-style: double;
  padding: 20px;
  margin: 20px;
  grid-template-columns: repeat(1, 1fr);
  grid-template-areas: "No Dudes en Contactarnos";
  text-align: center;
  -webkit-animation: tracking-in-expand-fwd 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  animation: tracking-in-expand-fwd 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}
.main__conocenos__section1 section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main__conocenos__section1 section h3 {
  font-size: 30px;
  text-align: center;
  color: rgb(255, 128, 0);
  font-weight: 300;
  margin: 30px;
}
.main__conocenos__section1 section p {
  text-align: center;
  color: rgb(255, 128, 0);
  font-weight: 300;
  margin: 30px;
}
.main__conocenos__section1 section img {
  width: 600px;
}

.mapa {
  width: 800px;
  padding-bottom: 50px;
}

@keyframes tracking-in-expand-fwd {
  0% {
    letter-spacing: -0.5em;
    transform: translateZ(-700px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    transform: translateZ(0);
    opacity: 1;
  }
}
.main__guia__section1 {
  background-image: url(../Img/Fondo\ 6.jpg);
}
.main__guia__section1 .subtitulo_index {
  color: rgb(158, 29, 18);
  border-style: double;
  padding: 10px;
  margin: 20px;
  grid-template-columns: repeat(1, 1fr);
  grid-template-areas: "Comienza tu historia";
  text-align: center;
  -webkit-animation: tracking-in-expand-fwd 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  animation: tracking-in-expand-fwd 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}
.main__guia__section1 h1 {
  color: rgb(158, 29, 18);
  border-style: double;
  padding: 10px;
  margin: 30px;
  text-align: center;
  -webkit-animation: tracking-in-expand-fwd 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  animation: tracking-in-expand-fwd 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}
.main__guia__section1 .columnasguia__grid {
  text-align: center;
  color: rgb(44, 197, 231);
  border-style: groove;
  padding: 10px;
  margin: 30px;
}
.main__guia__section1 .parrafo {
  text-align: center;
  color: rgb(255, 128, 0);
  font-weight: 300;
  margin: 30px;
  grid-area: comienza tu historia;
}
.main__guia__section1 .main__inicio__section1__carrusel {
  padding-bottom: 100px;
}

.main__inicio__section1__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
  padding-bottom: 50px;
}
.main__inicio__section1__grid img {
  width: 400px;
}

@keyframes tracking-in-expand-fwd {
  0% {
    letter-spacing: -0.5em;
    transform: translateZ(-700px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    transform: translateZ(0);
    opacity: 1;
  }
}/*# sourceMappingURL=estilo.css.map */